
body {
    background: black;
}

#slider {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
#slider img{
    width: 100%;
    height: auto;
    display: block;
}

.slide_button {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #11e7bc;
    font-weight: 500;
    font-size: 18px;
    width: 74px;
    height: 35px;
    background: red;
}

.right_slider_button {
    float: right;
}
